<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->

<head>
  <meta charset="utf-8">
  <title>NP GROUP</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="NP GROUP NEPAL" name="description">
  <meta content="NP GROUP NEPAL" name="keywords">
  <meta content="http://acxelense.com" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-">
  <!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
    rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->
  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Page level plugin styles START -->
  <link href="assets/pages/css/animate.css" rel="stylesheet">
  <link href="assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="assets/pages/css/components.css" rel="stylesheet">
  <link href="assets/pages/css/slider.css" rel="stylesheet">
  <link href="assets/pages/css/portfolio.css" rel="stylesheet">
  <link href="assets/corporate/css/style.css" rel="stylesheet">
  <link href="assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->

<body class="corporate">
  <!-- BEGIN STYLE CUSTOMIZER -->

  <!-- END BEGIN STYLE CUSTOMIZER -->

  <!-- BEGIN TOP BAR -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
          <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>+977 71-527240</span></li>
            <li><i class="fa fa-envelope-o"></i><span>info@npgroupnepal.com</span></li>
          </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->
        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
          <ul class="list-unstyled list-inline pull-right">
            <li><i class="fa fa-map-marker"></i><span>Padsari, Rupandehi - Nepal</span></li>
            <li><i class="fa fa-mobile"></i><span>+977 9857020361</span></li>
          </ul>
        </div>
        <!-- END TOP BAR MENU -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->
  <!-- BEGIN HEADER -->
  <div class="header">
    <div class="container">
      <a class="site-logo" href="index.html"><img style="width: 50%;" src="assets/corporate/img/logos/npgroup-logo-li.png" alt="NP GROUP"></a>
      <!--<a class="site-logo" href="index.html">NP GROUP</a>-->

      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

      <!-- BEGIN NAVIGATION -->
      <div class="header-navigation pull-right font-transform-inherit">
        <ul>
          <li class="dropdown ">
            <a class="dropdown-toggle" href="index.html">
                Home         
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="about.html">
                About Us
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Companies 
            </a>

            <ul class="dropdown-menu">
              <li><a href="ssmdm.html">Shree Shyam Modern Dal Mill Pvt. Ltd.</a></li>
              <li><a href="ssmdm.html">Shree Shyam Polymers</a></li>
              <li><a href="ssmdm.html">Lumbini Polymers</a></li>
              <li><a href="ssmdm.html">Naman Exim Pvt. Ltd.</a></li>
              <li><a href="ssmdm.html">Avani Annapurna Traders Pvt. Ltd.</a></li>
              <li><a href="ssmdm.html">Avani Ananta Pvt. Ltd.</a></li>
              <li><a href="ssmdm.html">Envipower Energy & Fertilizers Pvt. Ltd.</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="certificates.html">
                Certificates               
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="gallery.html">
                Gallery              
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="contact.html">
                Contact              
            </a>
          </li>
          <!-- BEGIN TOP SEARCH -->
          <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
              </form>
            </div>
          </li>
          <!-- END TOP SEARCH -->
        </ul>
      </div>
      <!-- END NAVIGATION -->
    </div>
  </div>
  <!-- Header END -->

  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="javascript:;">Companies</a></li>
        <li class="active">Shree Shyam Modern Dal Mill Pvt. Ltd.</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Shree Shyam Modern Dal Mill Pvt. Ltd.</h1>
          <div class="content-page">
            <div class="row margin-bottom-30">
              <!-- BEGIN CAROUSEL -->
              <div class="col-md-5 front-carousel">
                <div class="carousel slide" id="myCarousel">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="item">
                      <img alt="" src="assets/pages/img/works/img1.jpg">
                      <div class="carousel-caption">
                        <p>Excepturi sint occaecati cupiditate non provident</p>
                      </div>
                    </div>
                    <div class="item active">
                      <img alt="" src="assets/pages/img/works/img2.jpg">
                      <div class="carousel-caption">
                        <p>Ducimus qui blanditiis praesentium voluptatum</p>
                      </div>
                    </div>
                    <div class="item">
                      <img alt="" src="assets/pages/img/works/img3.jpg">
                      <div class="carousel-caption">
                        <p>Ut non libero consectetur adipiscing elit magna</p>
                      </div>
                    </div>
                  </div>
                  <!-- Carousel nav -->
                  <a data-slide="prev" href="#myCarousel" class="carousel-control left">
                    <i class="fa fa-angle-left"></i>
                  </a>
                  <a data-slide="next" href="#myCarousel" class="carousel-control right">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </div>
              <!-- END CAROUSEL -->

              <!-- BEGIN PORTFOLIO DESCRIPTION -->
              <div class="col-md-7">
                <h2>About Company</h2>
                <p style="text-align: justify;">The company was founded in 1998. The company is located in the PADSARI, VDC-1, RUPANDEHI, Nepal. The company
                  employs approximately 65 labors and 15 office staff. We are manufacturer, exporter and importer of all
                  kinds of food grains and pulses. Our main business is pulses. We have already sold our lentils in the third
                  country like Sri Lanka, Dubai, Singapore, Bangladesh and other countries. We import Black Mapte, Desi Chick
                  Peas, Popcorn, Green Peas, Yellow Peas, Red Lentils, Brown Eye Bean, Black Eye Bean, Kabuli Chick Peas
                  etc. from Australia, Canada, Argentina, Brazil, Sri Lanka and other countries. </p>
                <br>
                <div class="row front-lists-v2 margin-bottom-15">
                  <div class="col-md-6">
                    <ul class="list-unstyled">
                      <li><i class="fa fa-star"></i> Mukut 25 Kg</li>
                      <li><i class="fa fa-star"></i> Balak 25 Kg</li>
                      <li><i class="fa fa-star"></i> Shyam 25 Kg</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-unstyled">
                      <li><i class="fa fa-star"></i> Kangaroo Brand 50 Kg </li>
                      <li><i class="fa fa-star"></i> Naman 1 Kg & 5 Kg</li>
                    </ul>
                  </div>
                </div>
                <!--<a class="btn btn-primary" href="javascript:;"> VISIT THE PROJECT</a>-->
              </div>
              <!-- END PORTFOLIO DESCRIPTION -->
            </div>
            <!--
            <div class="row quote-v1 margin-bottom-30">
              <div class="col-md-7 quote-v1-inner">
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
              </div>
              <div class="col-md-5 quote-v1-inner text-right">
                <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
                <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
              </div>
            </div>-->

          </div>
        </div>
        <!-- END CONTENT -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Our Products</h1>
          <div class="content-page">
            <div class="filter-v1">
              <div class="row mix-grid thumbnails">
                <div class="col-md-3 col-sm-4 mix category_1 mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <img alt="" src="assets/pages/img/works/img1.jpg" class="img-responsive">
                    <div class="mix-details">
                      <h4>Mukut 25 Kg</h4>
                      <a data-rel="fancybox-button" title="Mukut 25 Kg" href="assets/pages/img/works/img1.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 mix category_2 mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <img alt="" src="assets/pages/img/works/img2.jpg" class="img-responsive">
                    <div class="mix-details">
                      <h4>Balak 25 Kg</h4>
                      <a data-rel="fancybox-button" title="Balak 25 Kg" href="assets/pages/img/works/img2.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 mix category_3 mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <img alt="" src="assets/pages/img/works/img3.jpg" class="img-responsive">
                    <div class="mix-details">
                      <h4>Shyam 25 Kg</h4>
                      <a data-rel="fancybox-button" title="Shyam 25 Kg" href="assets/pages/img/works/img3.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 mix category_1 category_2 mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <img alt="" src="assets/pages/img/works/img4.jpg" class="img-responsive">
                    <div class="mix-details">
                      <h4>Kangaroo Brand 50 Kg </h4>
                      <a data-rel="fancybox-button" title="Kangaroo Brand 50 Kg " href="assets/pages/img/works/img4.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 mix category_2 category_1 mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <img alt="" src="assets/pages/img/works/img5.jpg" class="img-responsive">
                    <div class="mix-details">
                      <h4>Naman 1 Kg & 5 Kg</h4>
                      <a data-rel="fancybox-button" title="Naman 1 Kg & 5 Kg" href="assets/pages/img/works/img5.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->

      </div>
      <!-- BEGIN SIDEBAR & CONTENT -->
    </div>
  </div>

  <!-- BEGIN PRE-FOOTER -->
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2>About us</h2>
          <p style="text-align: justify;">The NP Group was founded by Mr. Narayan Prasad Agrawal on 1998. Our main objective is to provide employment and
            strengthen Nepal's economy. Now the group operates 7 companies. These companies work in different areas like
            pulses, plastic, hardware, bio gas, trading and real state. </p>
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->


        <!-- BEGIN BOTTOM CONTACTS -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2>Our Contacts</h2>
          <address class="margin-bottom-40">
            Padsari, Rupandehi, Nepal<br> Mobile: 9857020361, 9802620361<br> Phone: +977-71-521467, 527514<br> Fax: +977-71-527240<br>            Email:
            <a href="mailto:info@metronic.com">pulses_nepal@yahoo.co.in</a><br> Email: <a href="mailto:info@metronic.com">info@npgroupnepal.com</a>
          </address>
        </div>
        <!-- END BOTTOM CONTACTS -->

        <!-- BEGIN TWITTER BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2 class="margin-bottom-0">Our Companies</h2>
          <ul class="no-b-m">
            <li><a href="ssmdm.html">Shree Shyam Modern Dal Mill Pvt. Ltd.</a></li>
            <li><a href="ssmdm.html">Shree Shyam Polymers</a></li>
            <li><a href="ssmdm.html">Lumbini Polymers</a></li>
            <li><a href="ssmdm.html">Naman Exim Pvt. Ltd.</a></li>
            <li><a href="ssmdm.html">Avani Annapurna Traders Pvt. Ltd.</a></li>
            <li><a href="ssmdm.html">Avani Ananta Pvt. Ltd.</a></li>
            <li><a href="ssmdm.html">Envipower Energy & Fertilizers Pvt. Ltd.</a></li>
          </ul>
        </div>
        <!-- END TWITTER BLOCK -->
      </div>
    </div>
  </div>
  <!-- END PRE-FOOTER -->

  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-8 col-sm-4 padding-top-10">
          Copyright © 2017 <a href="http://npgroupnepal.com">NP GROUP</a>. ALL Rights Reserved | Developed by: <a href="http://www.acxelense.com/">Acxelense Technologies Pvt. Ltd.</a>
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN PAYMENTS -->
        <div class="col-md-4 col-sm-4">
          <ul class="social-footer list-unstyled list-inline pull-right">
            <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
        <!-- END PAYMENTS -->
        <!-- BEGIN POWERED -->
        <!--<div class="col-md-4 col-sm-4 padding-top-10">
          Developed by: <a href="http://www.acxelense.com/">Acxelense Technologies Pvt. Ltd.</a>
        </div>-->
        <!-- END POWERED -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->

  <!-- Load javascripts at bottom, this will reduce page load time -->
  <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
  <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
  <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
  <script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->

  <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
  <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
  <!-- pop up -->
  <script src="assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script>
  <!-- slider for products -->

  <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
  <script src="assets/pages/scripts/portfolio.js" type="text/javascript"></script>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      Layout.init();
      Layout.initTwitter();
      Layout.initOWL();
    });
  </script>
  <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>